<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
  <p>My algorithm takes an String arraylist, two index as int,
  and a key as string. </p>
  <p>Algorithm searches the given indexes of
  the arraylist and if it finds the string key in that range 
  it returns true, otherwise it returns false.</p>
  <pre>*** If:
  -given indexes are less then zero
  -starting index greater then last index
  -size of the array zero or null
  -last index greater then size
  algorithm returns false.
  ***
  In the first box, please write your words(string) with using enter.
  In the second box, please enter the starting index for searching.
  In the third box, please enter the last index of your search.
  In the fourth box, please write your word that will be searched.
  </pre>
  <br>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
