<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
  <pre>My algorithm takes an String arraylist, two index as int, and a key as string. Algorithm searches the defined indexes of the arraylist and if it finds the string key in that range it return true, otherwise it returns false.</pre>
  <br>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
